@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,600&display=swap');

* {
    font-family: 'Poppins',sans-serif;
}

.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    background-color:#b99976;
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #664229;
    font-weight: bold;
}
.sidebar a {
    background-color:#b99976;
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
   /* Scrollable contents if viewport is shorter than content. */
}
main {
    padding-left: 240px;
    padding-top: 100px;

}

body{
    background-color: #e5d3b8;
}
.custom-navbar {
    background-color: #e5d3b8;
    border-bottom: 2px solid #664229;
}


